body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5c43163d; 
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #4CAF50; 
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #4CAF50; 
    font-size: 24px; 
}

h2 {
    color: #333;
    font-size: 20px; 
}

ul {
    padding-left: 20px;
}

address {
    font-style: normal;
}

a {
    color: #FFA500; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #FF4500; 
}